<section class="description panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><b>{{wiki.title}}</b></h2>
  </div>
  <div class="panel-body">
    {{#if viewWiki}}
      {{markdown-section content=wiki.text}}
      <div class="text-center">
        <button class="btn btn-default btn-sm btn-view-more" {{action 'toggleView'}}>Hide</button>
      </div>
    {{else}}
      <div class="text-center">
        <button class="btn btn-default btn-sm btn-view-more" {{action 'toggleView'}}>View</button>
      </div>
    {{/if}}
  </div>
</section>
