<section class="challenge-controlles row">
  <ul class="nav nav-pills pull-right">
    <li {{action "reset"}} class="{{if model.canReset '' 'disabled'}}" ><a href="#"><i class="glyphicon glyphicon-repeat challenge-reset"></i> Reset</a></li>
    {{#unless model.isPublished }}
    <li {{action "save"}} class="{{if model.canSave '' 'disabled'}} challenge-save" ><a href="#">
        <i class="glyphicon glyphicon-save"></i> Save</a>
    </li>
    {{/unless}}
    {{#unless model.isPublished }}
      <li {{action "publish"}} class="{{if model.canPublish '' 'disabled'}} challenge-publish"><a href="#"><i class="glyphicon glyphicon-ok-circle"></i> Publish</a></li>
    {{else}}
      <li {{action "save"}} class="{{if model.canSave '' 'disabled'}} challenge-unpublish"><a href="#"><i class="glyphicon glyphicon-save"></i> Save/Re-Publish</a></li>
      <li {{action "unPublish"}} class=""><a href="#"><i class="glyphicon glyphicon-ban-circle"></i> Un-Publish</a></li>
    {{/unless}}
    <li {{action 'delete' }} class="challenge-delete"><a href="#"><i class="glyphicon glyphicon-remove"></i> Delete</a></li>
    <li {{action 'validate' }} class="{{if model.valid 'active'}} challenge-validate"><a calss="btn btn-default" href="#"><i class="glyphicon glyphicon-ok"></i> Validate</a></li>
  </ul>
</section>
{{component 'challenge/challenge-settings-' model=model }}
<hr>
{{component 'challenge/challenge-edit-' model=model
  run='run'
  test='test'
 }}