{{#editor-container}}
 <div class="col-lg-6">
  <div class="row">
    <button {{action "run"}} class="btn btn-default pull-left challenge-run" disabled={{isDebugging}}>{{fa-icon "play"}} Run in Console</button>
    <button {{action "debug"}} class="btn btn-default pull-left challenge-debug" disabled={{isDebugging}}>{{fa-icon "bug"}} Start  Debugger</button>
    <button {{action "back"}} class="btn btn-default pull-left challenge-back" disabled={{if isDebugging isFirstStep 'disabled'}}>{{fa-icon "step-backward"}} Back</button>
    <button {{action "step"}} class="btn btn-default pull-left challenge-step" disabled={{if isDebugging isLastStep 'disabled'}}>{{fa-icon "step-forward"}} Step</button>
    <button {{action "stop"}} class="btn btn-default pull-left challenge-stop" disabled={{is-not isDebugging}}>{{fa-icon "stop"}} Stop</button>
    <button {{action "reset"}} class="btn btn-default pull-right challenge-reset">{{fa-icon "repeat"}} Reset </button>
  </div>
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#solution" data-toggle="tab">Solution</a></li>
      <li><a href="#setup" data-toggle="tab">Setup</a></li>
      <li><a href="#tests" data-toggle="tab">Test</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="solution">
        {{code-editor
            name="solutionEditor"
            id="solutionEditor"
            class="col-lg-12"
            model=model
            lint=true
            language="python"
            attr='blueprint.solution' }}
      </div>
      <div class="tab-pane fade " id="setup">
        {{code-editor
          name="setup"
          id="setupEditor"
          class="col-lg-12"
          model=model
          language="python"
          attr='blueprint.setup' }}
      </div>
      <div class="tab-pane fade" id="tests">
        {{code-editor
            name="testsEditor"
            id="testsEditor"
            class="col-lg-12"
            model=model
            lint=true
            language="python"
            attr='blueprint.tests' }}
      </div>
    </div>
  </div>
</div>
<div class="col-lg-6">
  <div class="row">
    <a {{action "test"}} class="btn btn-default pull-right challenge-test">{{fa-icon "test"}} Test </a>
  </div>
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
      <li><a href="#descriptionPreview" data-toggle="tab">Description Preview</a></li>
      <li><a href="#console" data-toggle="tab">Console</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane  fade in active" id="description">
        {{code-editor
          name="description"
          id="descriptionEditor"
          class="col-lg-12"
          model=model
          attr='blueprint.description'
          language='markdown'
          }}
      </div>

      <div class="tab-pane fade" id="descriptionPreview">
        {{marked-math model=model.blueprint observable='description' }}
      </div>
      <div class="tab-pane fade" id="console">
        {{py-console}}
      </div>
    </div>
  </div>
</div>
{{/editor-container}}