{{#editor-container}}
 <div class="col-lg-6">
  <div class="row">
    <a {{action "run"}} class="btn btn-default pull-left challenge-run">{{fa-icon "play"}} Run in Console</a>
    <a {{action "debug"}} class="btn btn-default pull-left challenge-debug">{{fa-icon "bug"}} Start  Debugger</a>
    <a {{action "back"}} class="btn btn-default pull-left challenge-back">{{fa-icon "step-backward"}} Back</a>
    <a {{action "step"}} class="btn btn-default pull-left challenge-step">{{fa-icon "step-forward"}} Step</a>
    <a {{action "stop"}} class="btn btn-default pull-left challenge-stop">{{fa-icon "stop"}} Stop</a>
    <a {{action "reset"}} class="btn btn-default pull-left challenge-reset">{{fa-icon "repeat"}} Reset </a>
  </div>
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#solution" data-toggle="tab">Solution</a></li>
      <li><a href="#setup" data-toggle="tab">Setup</a></li>
      <li><a href="#tests" data-toggle="tab">Test</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="solution">
        {{code-editor
            name="solutionEditor"
            id="solutionEditor"
            class="col-lg-12"
            model=model
            lint=true
            attr='solution' }}
      </div>
      <div class="tab-pane fade " id="setup">
        {{code-editor
          name="setup"
          id="setupEditor"
          class="col-lg-12"
          model=model
          attr='setup' }}
      </div>
      <div class="tab-pane fade" id="tests">
        {{code-editor
            name="testsEditor"
            id="testsEditor"
            class="col-lg-12"
            model=model
            attr='tests' }}
      </div>
    </div>
  </div>
</div>
<div class="col-lg-6">
  <div class="row">
    <a {{action "test"}} class="btn btn-default pull-right challenge-test">{{fa-icon "test"}} Test </a>
  </div>
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
      <li><a href="#descriptionPreview" data-toggle="tab">Description Preview</a></li>
      <li><a href="#console" data-toggle="tab">Console</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane  fade in active" id="description">
        {{code-editor
          name="description"
          id="descriptionEditor"
          class="col-lg-12"
          model=model
          attr='description'
          highlight='markdown'
          }}
      </div>

      <div class="tab-pane fade" id="descriptionPreview">
        {{marked-math model=model observable='description' }}
      </div>
      <div class="tab-pane fade" id="console">
        {{py-console}}
      </div>
    </div>
  </div>
</div>
{{/editor-container}}