<h3>Arenas</h3>

<div class="list-group">
{{#each model as |userArena| }}
{{!--     {{#link-to 'userArena' userArena class="user-arena-name" class="list-group-item"}}  --}}
<div class="user-arena-name list-group-item">
    <h4 class="list-group-item-heading">
        
        <div class="pull-right">

            {{#if userArena.arena.isBeta}}
                <span class="label label-success">beta</span>
            {{/if}}
            {{#if userArena.locked}}
                <a type="button" class="btn-sm user-arena-try disabled">
                    <i class="glyphicon glyphicon-ban-circle"></i> Locked
                </a>
                {{#link-to 'randomChallenge' userArena class="btn-primary btn-sm arena-try"}}
                    <i class="glyphicon glyphicon-play"></i> Randomly Try
                {{/link-to}}
            {{else}}
                {{#link-to 'userArena' userArena class="btn-primary btn-sm user-arena-try"}}
                    <i class="glyphicon glyphicon-play"></i> Try
                {{/link-to}}
                {{#link-to 'randomChallenge' userArena class="btn-primary btn-sm arena-try"}}
                    <i class="glyphicon glyphicon-play"></i> Randomly Try
                {{/link-to}}
            {{/if}}
            
        </div>
        
        {{userArena.arena.name}}<br>
                   
    </h4>
    <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40"
        aria-valuemin="0" aria-valuemax="100" style="width:{{userArena.progress}}%">
        {{userArena.progress}}% Complete
        </div>
    </div>     
</div>  
 
{{!--     {{/link-to}}
 --}}    
{{else}}
    <p>No Arenas are published yet</p>
{{/each}}
</div>